extends layout

block content
  if(!locals.loggedin)
    a(href='http://localhost:9001/login')
      p(class='login') Log in
  else 
    a(href='http://localhost:9001/logout')
      p(class='login') Log out

  div(class='center')
    a(href='http://localhost:9001/')
      h1 onewordstory.

    div(id='reciever', class='scrollbox')

    p Choose your words wisely.

    input(type='text', class='input', id='message', maxlength='20')
    input(type='submit', class='button leftmargin', id='sender', value='Write')

append footer
  script(defer).
    $(document).ready(function() { 
      //Get the storyname from the locals variable
      var storyname =!{JSON.stringify(locals)}.storyname;
      var socket = io.connect('http://localhost:9001/?storyname=' + storyname);
      $('#sender').bind('click', function() {
        socket.emit('message', document.getElementById('message').value);
      });

      socket.on('server_' + storyname, function(data) {
          console.log(data);
          var content = document.createTextNode(data + ' ');
          document.getElementById('message').value = ' ';
          document.getElementById('reciever').appendChild(content);
      });
    });
