extends layout

block content
    div(class='center')
        h1 onewordstory.

        div
            input(type='text', class='input', placeholder='Username', maxlength='20')
        div
            input(type='text', class='input login', placeholder='Password', maxlength='20')
        div
            input(type='submit', class='button login', id='sender', value='Log in')
