extends layout

block content
    div(class='center')
        a(href='http://localhost:9001/')
            h1 onewordstory.

        div(class='colorbox largetopmargin', id='color')
        
        label 
        #
        input(type='text', onkeyup='changeColor(this.value, this)', class='input', id='colorinput', placeholder='Pick color', maxlength='6')
        input(type='submit', class='button',  id='sender', value='Pick')
        
        div(class='largetopmargin')
            input(type='text', class='input', placeholder='Create new story')
            input(type='submit', class='button',  id='sender', value='Create')